---
---

@import "{{ site.theme }}";

#forkme_banner{ display: none !important; }

footer {
  display: none !important;
}

header.page-header {
  display: none !important;
}

.main-content {
  background-image: url('/assets/background.jpg');
}
