---
---

@import "{{ site.theme }}";

#forkme_banner{ display: none !important; }

footer {
  display: none !important;
}

header.page-header {
  display: none !important;
}

.main-content {
  background-image: url('/assets/background.jpg');
  background-size: cover;
}

th, td {
  border: 1px solid !important;
  border-collapse: collapse !important;
}

body {
  color: #2b2b2b;
}
