---
---

@import "{{ site.theme }}";

#forkme_banner{ display: none !important; }

body {
 background-image: url("assets/background.jpg");
}

footer {
  display: none !important;
}

section.page-header {
  display: none !important;
}
